<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxiip.mapper.VehicleBatteryRelMapper">
    <resultMap id="VehicleBatteryRelMapper" type="com.wxiip.pocdomain.VehicleBatteryRel">
        <id     column="id"                    property="id"></id>
        <result column="vin"                   property="vin"/>
        <result column="module_id"             property="moduleId"/>
        <result column="mflag"                 property="mflag"/>
        <result column="createtime"            property="createtime"/>
        <result column="updatime"              property="updatime"/>
    </resultMap>

    <select id="query" resultMap="VehicleBatteryRelMapper">
        select * from tb_vehicle_battery_rel where 1 = 1
        <if test="id != null and id != 0">
            and id = #{id}
        </if>
        <if test="vin != null and vin != 0">
            and vin = #{vin}
        </if>
        <if test="moduleId != null and moduleId != ''">
            and module_id = #{moduleId}
        </if>
    </select>
</mapper>